# KeySMS Settings
KEYSMS_USERNAME=
KEYSMS_API_KEY=
SMS_SENDER=Snippen
SMS_BOOKING_CONFIRMATION_ENABLED=yes
SMS_ACCOUNT_CONFIRMATION_ENABLED=yes

# Test User Settings
TEST_USER_EMAIL=
TEST_USER_PHONE=
TEST_USER_NAME="Test User"
TEST_USER_PASS=passord123
